{% extends 'base.html.twig' %}

{% block title %}Point index{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        {% if user is defined %}
        {% set classgroup = '' %}
            {% if user == 'student' %}
                <h3>
                    Derniers points de 
                    {% for point in points|slice(0, 1) %}
                        {{ point.student.firstname }}
                    {% endfor %}
                </h3>
                <div class="p-2">
                    <a href="{{ path('classgroup_show', {'id': classgroupId}) }}">
                        Retour à la classe
                    </a>
                </div>
            {% elseif user == 'classgroup' %}
                <h3>
                    Derniers points - 
                    {% for point in points|slice(0, 1) %}
                        {{ point.student.classgroup.name }}
                    {% endfor %}
                </h3>
                <div class="p-2">
                    <a href="{{ path('classgroup_show', {'id': classgroupId}) }}">
                        Retour à la classe
                    </a>
                </div>
            {% endif %}
        {% else %}
            <h3>Tous les points</h3>
        {% endif %}
        
    </div>

    {% include "point/last.html.twig" %}

{% endblock %}
