<form method="post" action="{{ path('student_delete', {'id': student.id}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer cet élève ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
