{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation - Classe Royale{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h3 class="p-4">Conditions d'utilisation</h3>
    </div>
    <div class="col-12 col-md-7">
        <h5>Définitions</h5>
            <p>Utilisateur : personne physique qui se crée un compte sur "Classe Royale" 
            afin d'en utiliser les services.</p>
            <p>Application : ensemble des données accessibles à l'utilisateur en fonction de ses rôles 
            (parent d'élève, enseignant, chef d'établissement, ...)</p>

            <h5>Description de l'application Classe Royale</h5>
            <p>L'application en ligne Classe Royale permet à des enseignants de proposer une 
            évaluation ludique de leur enseignement, à travers le gain de cartes, de pièces d'or virtuelles 
            et de gouttes d'élixir.<br>
            Les enseignants gèrent leur(s) classe(s) en utilisant les données de base 
            des </p>

            <h5>Consentement</h5>
            <p>En s'inscrivant à l'appication Classe Royale, l'utilisateur accepte que soient stockées 
            les données relatives à son identification (email, nom, prénom, genre, date de connexion).<br>
            Les données sauvegardées ne le sont que pour le fonctionnement de l'application, et ne sont pas 
            partagées ou vendues à des services tiers.</p>

            <h5>Données stockées et finalités</h5>
            <p>L'application stocke les données fournies par l'utilisateur : email, nom, prénom, genre, mot de passe crypté, 
            afin de pouvoir gérer la connexion de l'utilisateur et d'établir les accès qu'il peut avoir au site.<br>
            L'application stocke les données propres aux écoles et aux élèves gérés par les enseignants inscrits sur 
            l'application : nom et coordonnées de l'établissement, nom des classes, données propres aux élèves de ces classes 
            (fichiers de l'éducation nationale, contenant le nom, le prénom, le genre, la date de naissance et 
            le numéro national (RNE) des élèves concernés).<br>
            Les enseignants peuvent ajouter des données propres aux activités d'apprentissage de leurs élèves (cartes 
            d'apprentissage, gain d'elixir ou de pièces d'or, responsabilités prises au sein de la classe...).<br>
            L'application met en relation ces données et les utilisateurs "parents d'élèves" via un code 
            d'invitation fourni par l'enseignant, afin de ne partager que les données de l'enfant concerné.</p>

            <h5>Exclusion</h5>
            <p>Tout utilisateur qui ne respecte pas les termes de ces conditions, ou qui essaie, 
            par quelque moyen que ce soit, d'accéder à des données qui ne le concernent pas, risquera l'exclusion 
            de l'application.</p>

            <h5>Mise à jour</h5>
            <p>Ces conditions sont succeptibles d'être modifiées par le propriétaire de l'application 
            sans préavis si la gestion de l'application ou des nouvelles fonctionnalités l'exigent.</p>
            <p>La dernière mise à jour des ces conditions date du 06/03/2021.</p>
    </div>
{% endblock %}
