{% extends 'base.html.twig' %}

{% block title %}Classe Royale{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <p class="p-4">Bienvenue sur Classe Royale !</p>
        <p>
            Si vous voyez cette page, 
            <a href="{{ path('app_register') }}">
                merci de vous connecter...
            </a>
        </p>
    </div>

{% endblock %}
