{% extends 'base.html.twig' %}

{% block title %}Mentions légales - Classe Royale{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h3 class="p-4">Mentions légales</h3>
    </div>
    <div class="col-12 col-md-7">
        <h5>Responsable de publication</h5>
            <p>Jean-Roch Masson</p>
        <h5>Hébergement</h5>
            <p>
                OVH - SAS au capital de 10 000 000 € - RCS Roubaix – Tourcoing 424 761 419 00045<br>
                Siège social : 2 rue Kellermann - 59100 Roubaix - France.
            </p>
    </div>
{% endblock %}
