{% extends 'base.html.twig' %}

{% block title %}
Classe Royale - Support
{% endblock %}

{% block body %}
    <div class="col-12">
        <h3 class=" text-center">Support</h3>
    </div>
    <div class="col-12">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vSU8VXS5VoxQoj1DbykA_a28CQuL_aAfO_3kI8Asem608bpwNU3ffhASZvlpDJDuHk3CY7WdnJyDRrA/pub?embedded=true"></iframe>
    </div>
{% endblock %}
