<h1>Merci pour votre demande d'inscription sur Classe Royale</h1>

<p>
    Afin de pouvoir accéder aux services, merci de onfirmer votre adresse mail en suivant ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien est valide {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    A bientôt sur Classe Royale !
</p>
