{% extends 'base.html.twig' %}

{% block title %}Edit Level{% endblock %}

{% block body %}
    <h1>Edit Level</h1>

    {{ include('level/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('level_index') }}">back to list</a>

    {{ include('level/_delete_form.html.twig') }}
{% endblock %}
