{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Nouveau level{% endblock %}

{% block body %}
    <div class="col-12 col-sm-10 col-lg-7 text-center dark-box">
        <h3>Nouveau level</h3>

        {{ include('level/_form.html.twig') }}

        <a href="{{ path('level_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
