{% extends 'base.html.twig' %}

{% block title %}Edit Section{% endblock %}

{% block body %}
    <h1>Edit Section</h1>

    {{ include('section/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('section_index') }}">back to list</a>

    {{ include('section/_delete_form.html.twig') }}
{% endblock %}
