{% extends 'base.html.twig' %}

{% block title %}Edit Section{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center">
    <h3>Modifier une section</h3>

    {{ include('section/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('section_index') }}">Retour à la liste</a>

    {{ include('section/_delete_form.html.twig') }}
</div>
{% endblock %}
