{% extends 'base.html.twig' %}

{% block title %}New Section{% endblock %}

{% block body %}
    <h1>Create new Section</h1>

    {{ include('section/_form.html.twig') }}

    <a href="{{ path('section_index') }}">back to list</a>
{% endblock %}
