{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Ajouter une section{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center">
    <h3>Ajouter une section</h3>

    {{ include('section/_form.html.twig') }}

    <a href="{{ path('section_index') }}">Retour à la liste</a>
</div>
{% endblock %}
