<form method="post" action="{{ path('job_delete', {'id': job.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce métier ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
