{% extends 'base.html.twig' %}

{% block title %}Nouveau métier - Classe Royale{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h3>Nouveau métier</h3>
    </div>
    <div class="col-12 col-sm-10 col-lg-7 pt-3 text-center">
        {% if job.classgroup is null %}
            <p>Ce métier sera ajouté aux métiers inutilisés.</p>
        {% else %}
            <p>Ce métier sera accessible 
            <a href="{{ path('classgroup_show', {'id': job.classgroup.id}) }}">
                à votre classe
            </a> seulement.</p>
        {% endif %}
        {{ include('job/_form.html.twig') }}
        {% if job.classgroup is null %}
            <a href="{{ path('job_index', {'classgroup': null}) }}">Métiers inutilisés</a>
        {% else %}
            <a href="{{ path('job_index', {'classgroup': job.classgroup.id}) }}">Liste des métiers</a>
        {% endif %}
    </div>
{% endblock %}
