<form method="post" action="{{ path('support_delete', {'id': support.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article de support ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ support.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
