{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Modification support{% endblock %}

{% block body %}
    <div class="col-12 col-md-7 text-center">
        <h3>Modifier un article</h3>

        {{ include('support/_form.html.twig', {'button_label': 'Modifier'}) }}

        <br><a href="{{ path('support_index') }}">Retour au support</a><br>

    </div>
{% endblock %}
