{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Administration{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center">
    <h3>Interface d'administration</h3>

    <a href="{{ path('admin_addAdmin') }}" title="Ajouter un administrateur">Ajouter un administrateur</a><br>
    <a href="{{ path('option_index') }}" title="Options de Classe Royale">Options de Classe Royale</a><br>
    <a href="{{ path('section_index') }}" title="Gérer les sections">Sections et classes</a><br>
</div>

{% endblock %}
