<form method="post" action="{{ path('card_delete', {'id': card.id}) }}"
      onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette carte ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ card.id) }}">
    <button class="danger-button">Supprimer</button>
</form>
