{% extends 'base.html.twig' %}

{% block title %}Edit Card{% endblock %}

{% block body %}
    <h1>Edit Card</h1>

    {{ include('card/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('card_index') }}">back to list</a>

    {{ include('card/_delete_form.html.twig') }}
{% endblock %}
