{% extends 'base.html.twig' %}

{% block title %}Edit Card{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center clear-box mt-2">
    <h3>Modifier une carte</h3>

    {{ include('card/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('card_index') }}">Retour aux cartes</a>

    {{ include('card/_delete_form.html.twig') }}
</div>
{% endblock %}
