{% extends 'base.html.twig' %}

{% block title %}New Card{% endblock %}

{% block body %}
    <h1>Create new Card</h1>

    {{ include('card/_form.html.twig') }}

    <a href="{{ path('card_index') }}">back to list</a>
{% endblock %}
