/* IMPORT AND FONTS */

@import "vars";
@import "~bootstrap/scss/bootstrap";
@font-face
{
    font-family: Supercell-Magic;
    src: url('Supercell-Magic.ttf') format('Truetype');
}

/* GENERAL */

body {
    padding: 0;
    margin: 0;
    background-color: $secondary-color;
    background-image: url("images/background-cr.png");
    font-family: $primary-font;
    font-size: 0.8rem;
    color: white;
}

.container-fluid {
    padding: 0;
}

a{
    color: $third-color;
    text-decoration: none;

    &:hover{
        color: $fourth-color;
        text-decoration: none;
    }
}

.small-text {
    font-size: 0.6rem;
}

/* HEADER */

.header {
    margin: 0;
    height: 4rem;
    width: 100%;
    font-size: 1rem;
    background: linear-gradient($primary-color, black);

    a{
        color: white;
        text-decoration: none;

        &:hover{
            color: $fourth-color;
            text-decoration: none;
        }
    }

    .logo-header {
        position: absolute;
        z-index: 2;
        left: 10px;
        top: 10px;
        width: 100px;
        @include media-breakpoint-up(sm) {
            width: 200px;
        }
        @include media-breakpoint-up(lg) {
            width: 250px;
        }
    }

    .tab-background {
        height: 100%;
    }

    .tab-background:hover {
        color: black;
        background: linear-gradient(white, $third-color);

        a {
            color: black;
            text-decoration: none;

            &:hover {
                color: black;
                text-decoration: none;
            }
        }
    }
}

/* BUTTONS */

@mixin button($color) {
    background-color : $color;
    border-radius : 5px;
    text-decoration : none;
    font-size : 1rem;
    color : white;
    width : 60%;
    max-width: 250px;
    padding : 5px 5px;
    max-height: 70px;
    display : block;
    margin : 1% auto 1% auto;
    text-align : center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        background-color: darken($color, 10%); ;
        color : white;
        text-decoration: none;
    }
}

.primary-button {
    @include button($primary-color)
}

.third-button {
    @include button($third-color)
}

.choice-button {
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
    background-color: $fifth-color;
    width: 130px;
    height: 130px;
    font-size: 0.8rem;
}

.add-button {
    width: 50%;
    height: auto;
}

/* MAIN */

.main {
    padding: 0;
    margin: 0;
}

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.third-color {
    color: $third-color;
}

.fourth-color {
    color: $fourth-color;
}

/* INFOS */

.emoticon-info {
    max-width: 120px;
}

/* PLAY */

.student-box {
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
    text-align: center;
    background-color: $primary-color;
    width: 130px;
    height: 130px;
    font-size: 0.8rem;

    img {
        width: 60px;
        height: auto;
    }

    &:hover {
        background-color: #00AFFE;
    }
}

/* STUDENT PROFILE */

.clear-box {
    background-color: $fifth-color;
    padding: 10px;
    border-radius: 25px;
    color: black;

    img {
        border-bottom: solid 10px black;
    }

    .win-box {
        display: flex;
        justify-content: center;
        align-items: center;
        color:$third-color;
        font-size: 1.3rem;

        img {
            width: 70px;
            height: auto;
            border: none;
            padding-right: 20px;
        }
    }
}

.dark-box {
    background-color: $primary-color;
    padding: 10px;
    border-radius: 25px;
}
