{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h2>Nouveau produit</h2>
    </div>
    <div class="col-12 col-sm-10 col-lg-7 pt-3 text-center">
        {{ include('product/_form.html.twig') }}

        <a href="{{ path('product_index') }}">Retour au magasin</a>
</div>
{% endblock %}
