{% extends 'base.html.twig' %}

{% block title %}Classe Royale{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center mt-2">
    <h3>Gestion des thèmes des cartes</h3>
        <div class="row justify-content-center">
            {% for subject in subjects %}
                <div class="student-box">
                    <p>{{ subject.name }} - rang : {{ subject.rank }}<br>
                        <a href="{{ path('subject_edit', {'id': subject.id}) }}">modifier</a></p>
                </div>
            {% else %}
                Aucun thème actuellement dans la base
            {% endfor %}
            <div class="student-box">
                <p><a href="{{ path('subject_new') }}">Ajouter un thème</a></p>
            </div>
        </div>
</div>
{% endblock %}
