{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Thèmes des cartes{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center clear-box mt-2">
    <h3>Nouveau thème</h3>

    {{ include('subject/_form.html.twig') }}

    <a href="{{ path('subject_index') }}">Retour à la liste</a>
</div>
{% endblock %}
