<form method="post" action="{{ path('option_delete', {'id': option.id}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer cette option ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
