{% extends 'base.html.twig' %}

{% block title %}Option index{% endblock %}

{% block body %}
    <div class="col-12 col-md-10 col-lg-7">
        <h3>Options disponibles</h3>
        <p class="text-right">
            <a href="{{ path('option_new') }}">Ajouter une option</a>
        </p>
        <table class="table text-white">
            <thead>
            <tr class="secondary-color bg-dark">
                <th>Nom de l'option</th>
                <th>Réglage</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for option in options %}
                <tr>
                    <td>{{ option.property }}</td>
                    <td>{{ option.value }}</td>
                    <td>
                        <a href="{{ path('option_edit', {'id': option.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune option pour l'instant</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
