{% extends 'base.html.twig' %}

{% block title %}Ajout d'une option{% endblock %}

{% block body %}
    <div class="col-12 col-md-10 col-lg-7 text-center">
        <h3 class="mb-4">Ajouter une option</h3>

        {{ include('option/_form.html.twig') }}

        <br><a href="{{ path('option_index') }}">Liste des options</a>
    </div>

{% endblock %}
