{% extends 'base.html.twig' %}

{% block title %}Edit Classgroup{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center">
    <h3>Modifier la classe n°{{ classgroup.ref }}</h3>

    {{ include('classgroup/_form.html.twig', {'button_label': 'Changer le nom'}) }}

    <a href="{{ path('classgroup_index') }}">back to list</a>

    {{ include('classgroup/_delete_form.html.twig') }}
{% endblock %}
