{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Toutes les classes{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h3>Toutes les classes</h3>
        <div class="row justify-content-center">
            {% for classgroup in classgroups %}
                <a href="{{ path('classgroup_show', {'id': classgroup.id}) }}">
                    <div class="student-box">
                        <p>{{ classgroup.name }}<br>
                            <span class="small-text">{{ classgroup.school.name }} - {{ classgroup.school.city }}</span>
                        </p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
