{% extends 'base.html.twig' %}

{% block title %}Nouvelle classe - Classe Royale{% endblock %}

{% block body %}
    <h3>Nouvelle classe</h3>
    <p>{{ classgroup.school.name }}</p>

    {{ include('classgroup/_form.html.twig') }}

    <a href="{{ path('classgroup_index') }}">back to list</a>
{% endblock %}
