{% extends 'base.html.twig' %}

{% block title %}New Classgroup{% endblock %}

{% block body %}
    <h1>Create new Classgroup</h1>

    {{ include('classgroup/_form.html.twig') }}

    <a href="{{ path('classgroup_index') }}">back to list</a>
{% endblock %}
