{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Interface direction{% endblock %}

{% block body %}
    <div class="col-7">
        <h3 class="text-center">Interface de direction</h3>
        <p>Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}</p>
        <a href="{{ path('home') }}">Mon profil</a><br>
        <a href="{{ path('home') }}">Créer mon école</a><br>
    </div>
{% endblock %}
