<form method="post" action="{{ path('school_delete', {'id': school.id}) }}" onsubmit="return confirm('Voulez-vous vraiment suprimer cette école ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ school.id) }}">
    <button class="btn">Delete</button>
</form>
