{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Création d'une nouvelle école{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h3>Création d'une nouvelle école</h3>
    </div>
    <div class="col-12 col-md-10 col-lg-7 text-center dark-box mt-2">
        <div class="p-4">
            {{ include('school/_form.html.twig') }}
        </div>
        <a href="{{ path('director') }}">Direction</a>
    </div>
{% endblock %}
