{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Création d'une nouvelle école{% endblock %}

{% block body %}
    <div class="col-7">
        <h3>Création d'une nouvelle école</h3>

        {{ include('school/_form.html.twig') }}

        <a href="{{ path('school_index') }}">back to list</a>
    </div>
{% endblock %}
