{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="col-12 text-center">
    <h3>Modification d'un utilisateur</h3>
</div>
    
<div class="col-12 col-md-10 col-lg-7">
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>
<div class="col-12 text-center">
    {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
